
<h1>Welcome to the Word Counter</h1>
<form action="/word_count">
  <div class="form-group">
    <label for="sentence"></label>
    <input id="sentence" name="sentence" class="form-control" type="text">
    <label for="word"></label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Count your words!</button>
</form>
