
<h1>Welcome to Title Case</h1>
<form action="/word_count">
  <div class="form-group">
    <label for=""></label>
    <input id="" name="" class="form-control" type="text">
    <label for=""></label>
    <input id="" name="" class="form-control" type="text">
  </div>
  </div>
  <button type="submit" class="btn-success">Do the thing</button>
</form>
