<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Word Counter</title>
  </head>
  <body>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
